body {
  padding-top: 5rem;
}
.starter-template {
  padding: 1.0rem 1.5rem;
  text-align: center;
}

#map {
  height:400px;
  width:400px;
  margin: 0 auto;
  margin-top: -15px;
}

/* For Moisture Gauge */
#gauge {
    height: 440px;
    width: 100%;
}

#messages {
    height: 250px;
    overflow: auto;
    width: 120px;
    text-align:center;
}

#dataHolder {
    text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-width: 5px;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;  
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pane
{
    position: relative;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    text-align: center;
    width: 850px;
    height: 100%;
    padding: 50px;
    margin-top: 25px;
    margin: 0 auto;
    box-shadow: 0px 1px 3px 0px #e3e3e3;
    box-shadow: 0px 1px 3px 0px rgba(112,112,112,0.05);
}

    .pane .long-title
    {
        position: absolute;
        top: 15px;
        text-align: center;
        width: 850px;
        overflow: hidden;
    }

        .pane .long-title h3
        {
            font-size: 28px;
        }

    .pane .credits
    {
        color: rgba(128, 128, 128, 0.75);
        position: absolute;
        bottom: 20px;
        right: 30px;
    }
	
    .case-container {
        float:left; 
        width: 100%; 
        height: 380px;
    }
.case-container svg {
	margin: 0 auto;
}
